// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css'; 

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


.router-link-exact-active{
    background-color: #0d6079;
    color: #fff ! important;
}

@media print
{
    body * { visibility: hidden; }
    .card-footer {display: none; }
    #button  { display:none; }
    #no-print  { display:none; }
    #printArea * { visibility: visible; }
    #printArea { position: absolute; top: 40px; left: 30px; }
}
